
.link li a {
    list-style: none;
    text-decoration: none;
}
.form {
    width: 700px;
    border-radius: 20px;
    padding: 10px;
}
.form-item{
    padding: 20px;
}
.sidebar{
    padding: 10px;
    width: 200px;
    font-size: larger;
    text-align: left;
    font-weight: 500;
}
.nav-active-link {
    color: blue;
}

.back {
    font-size: 40px;
    margin-bottom: 10px;
    color: black;
}